In [1]:
# pip install pycaret

In [2]:
from pycaret.datasets import get_data
from pycaret.clustering import *
data = get_data('iris')
data = data.drop('species',axis = 1)

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

#### Dataset

In [3]:
print(data)

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [4]:
models = ['kmeans','hclust','meanshift']
clusters = [3,4,5]

### No  Preprocessing

In [11]:
for model in models:
    for cluster in clusters:
        setup1 = setup(data, normalize=False, pca=False,preprocess = False,session_id = 2)
        mod1  = create_model(model,num_clusters = cluster)
        print(f"For {model} with {cluster} clusters without PreProcessing")
        evaluate_model(mod1)

For kmeans with 3 clusters without PreProcessing

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

For kmeans with 4 clusters without PreProcessing

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

For kmeans with 5 clusters without PreProcessing

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

For hclust with 3 clusters without PreProcessing

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

For hclust with 4 clusters without PreProcessing

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

For hclust with 5 clusters without PreProcessing

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

For meanshift with 3 clusters without PreProcessing

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

For meanshift with 4 clusters without PreProcessing

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

For meanshift with 5 clusters without PreProcessing

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

### With Normalization

In [6]:
for model in models:
    for cluster in clusters:
        setup1 = setup(data, normalize=True, pca=False,session_id = 2)
        mod1  = create_model(model,num_clusters = cluster)
        print(f"For {model} with {cluster} clusters with Normalization")
        evaluate_model(mod1)

For kmeans with 3 clusters with Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

For kmeans with 4 clusters with Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

For kmeans with 5 clusters with Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

For hclust with 3 clusters with Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

For hclust with 4 clusters with Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

For hclust with 5 clusters with Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

For meanshift with 3 clusters with Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

For meanshift with 4 clusters with Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

For meanshift with 5 clusters with Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

### With Transformation

In [7]:
from sklearn.preprocessing import StandardScaler

def custom_preprocess(data):
    scaler = StandardScaler()
    data = scaler.fit_transform(data)
    return data
for model in models:
    for cluster in clusters:
        setup1 = setup(data, normalize=False, pca=False,session_id = 2,transformation=custom_preprocess)
        mod1  = create_model(model,num_clusters = cluster)
        print(f"For {model} with {cluster} clusters with Transformation")
        evaluate_model(mod1)

For kmeans with 3 clusters with Transformation

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

For kmeans with 4 clusters with Transformation

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

For kmeans with 5 clusters with Transformation

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

For hclust with 3 clusters with Transformation

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

For hclust with 4 clusters with Transformation

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

For hclust with 5 clusters with Transformation

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

For meanshift with 3 clusters with Transformation

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

For meanshift with 4 clusters with Transformation

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

For meanshift with 5 clusters with Transformation

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

### Using PCA

In [8]:
for model in models:
    for cluster in clusters:
        setup1 = setup(data, normalize=False, pca=True,session_id = 2)
        mod1  = create_model(model,num_clusters = cluster)
        print(f"For {model} with {cluster} clusters with PCA")
        evaluate_model(mod1)

For kmeans with 3 clusters with PCA

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

For kmeans with 4 clusters with PCA

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

For kmeans with 5 clusters with PCA

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

For hclust with 3 clusters with PCA

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

For hclust with 4 clusters with PCA

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

For hclust with 5 clusters with PCA

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

For meanshift with 3 clusters with PCA

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

For meanshift with 4 clusters with PCA

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

For meanshift with 5 clusters with PCA

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

### Using Transformation and Normalization

In [9]:
for model in models:
    for cluster in clusters:
        setup1 = setup(data, normalize=True, pca=False,session_id = 2,transformation=custom_preprocess)
        mod1  = create_model(model,num_clusters = cluster)
        print(f"For {model} with {cluster} clusters with Transformation and Normalization")
        evaluate_model(mod1)

For kmeans with 3 clusters with Transformation and Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

For kmeans with 4 clusters with Transformation and Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

For kmeans with 5 clusters with Transformation and Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

For hclust with 3 clusters with Transformation and Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

For hclust with 4 clusters with Transformation and Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

For hclust with 5 clusters with Transformation and Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

For meanshift with 3 clusters with Transformation and Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

For meanshift with 4 clusters with Transformation and Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

For meanshift with 5 clusters with Transformation and Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

### Using Transformation and Normalization and PCA

In [10]:
for model in models:
    for cluster in clusters:
        setup1 = setup(data, normalize=True, pca=True,session_id = 2,transformation=custom_preprocess)
        mod1  = create_model(model,num_clusters = cluster)
        print(f"For {model} with {cluster} clusters with Transformation,Normalization and PCA")
        evaluate_model(mod1)

For kmeans with 3 clusters with Transformation,Normalization and PCA

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

For kmeans with 4 clusters with Transformation,Normalization and PCA

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

For kmeans with 5 clusters with Transformation,Normalization and PCA

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

For hclust with 3 clusters with Transformation,Normalization and PCA

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

For hclust with 4 clusters with Transformation,Normalization and PCA

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

For hclust with 5 clusters with Transformation,Normalization and PCA

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

For meanshift with 3 clusters with Transformation,Normalization and PCA

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

For meanshift with 4 clusters with Transformation,Normalization and PCA

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

For meanshift with 5 clusters with Transformation,Normalization and PCA

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦